<%- include('./partials/header') %>

<h1>Form to add a new Blog</h1>

<form action="/blogs" method="post">
    <section>
        <label for="title">title:</label>
        <input type="text" name="title" id="title">
        <label for="auth">Author:</label>
        <input type="text" name="author" id="auth">

    </section>
    <section>
        <label for="comment">comment:</label>
        <br>
        <textarea name="comment" id="comment" cols="10" rows="4"></textarea>
    </section>
    <button type="submit">Submit</button>
</form>


